.content {
    position: relative;
}

.album-controls {
    text-align: right
}

.album-control {
    display: inline-block;
    padding-left: 15px;
}

.album-edit {
    margin-bottom: 10px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 5px;
}

.photo {
    position: relative;
}

.photo-remove, .photo-preview {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    opacity: 0;
    border-radius: 5px;
    background-color: #00000080;
    transition: opacity 100ms ease-in;
    display: grid;
    align-items: center;
    justify-items: center;
}

.photo-remove {
    top: 5px;
    right: 5px;
}

.photo-preview {
    bottom: 5px;
    right: 0;
}

.photo-remove svg, .photo-preview svg {
    fill: #cccccc;
}

.photo-remove:hover svg, .photo-preview:hover svg {
    fill: #ffffff;
}

.photo:hover .photo-remove, .photo:hover .photo-preview {
    opacity: 1;
    transition: opacity 100ms ease-in;
}

.photo-album-preview {
    opacity: 1;
    cursor: default;
}

.photo-album-preview svg {
    fill: #ffffff;
}

.photo a, .photo a:hover {
    border: none;
}

.photo img {
    width: 100%;
    height: auto;
}

.photo .error {
    margin-top: 0;
    font-size: 0.8em;
}

@media (max-width: 500px) {
    .photos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 300px) {
    .photos {
        grid-template-columns: 1fr;
    }
}
