.content {
    position: relative;
}

h1 {
    width: calc(100% - 35px);
}

.add-photos {
    position: absolute;
    right: 5px;
    top: 5px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 5px;
}

.photo {
    position: relative;
}

.photo-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    opacity: 0;
    border-radius: 5px;
    background-color: #00000080;
    transition: opacity 100ms ease-in;
}

.photo-remove svg {
    fill: #eeeeee;
}

.photo-remove:hover svg {
    fill: #ffffff;
}

.photo:hover .photo-remove {
    opacity: 1;
    transition: opacity 100ms ease-in;
}

.photo a, .photo a:hover {
    border: none;
}

.photo img {
    width: 100%;
    height: auto;
}

.photo .error {
    margin-top: 0;
    font-size: 0.8em;
}

@media (max-width: 500px) {
    .photos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 300px) {
    .photos {
        grid-template-columns: 1fr;
    }
}
