.content {
    position: relative;
}

.album-controls {
    text-align: right
}

.album-control {
    display: inline-block;
    padding-left: 15px;
}

.album-edit {
    margin-bottom: 10px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 5px;
}

.photo {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.photo:empty {
    background: #999;
    aspect-ratio: 1;
}

.photos-edit img {
    pointer-events: none;
}

.photo-remove, .photo-preview {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    opacity: 0;
    border-radius: 5px;
    background-color: #00000080;
    transition: opacity 100ms ease-in;
    display: grid;
    align-items: center;
    justify-items: center;
}

.photo-remove {
    top: 5px;
    right: 5px;
    pointer-events: none;
}

.photo-preview {
    bottom: 5px;
    right: 0;
    pointer-events: none;
}

.photo-remove svg, .photo-preview svg {
    fill: #cccccc;
}

.photo-remove:hover svg, .photo-preview:hover svg {
    fill: #ffffff;
}

.photos-edit .photo-remove, .photos-edit .photo-preview {
    opacity: 1;
    transition: opacity 100ms ease-in;
    pointer-events: all;
}

.photo-album-preview {
    opacity: 1;
    cursor: default;
}

.photo-album-preview svg {
    fill: #ffffff;
}

.photo a, .photo a:hover {
    border: none;
}

.photo img {
    width: 100%;
    height: auto;
}

.photo .error {
    margin-top: 0;
    font-size: 0.8em;
}

.select-users {
    margin: 10px 0;
}

.select-users .users {
    max-height: 150px;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 5px;
}

.select-users .user {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-bottom: 5px;
}

.select-users .user input {
    display: none;
}

.select-users .user input:checked ~ .user-name {
    color: #ffeb3b;
}

.select-users .user input:checked ~ .user-photo {
    border: 2px solid #ffeb3b;
}

.select-users .user .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
}

.select-users .user .user-photo img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.select-users .user .user-name {
    padding-left: 10px;
}

.select-users .buttons {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0 10px;
}

@media (max-width: 320px) {
    .photos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 280px) {
    .photos {
        grid-template-columns: 1fr;
    }
}
