.content {
    
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-bottom: 15px;
}

.content .analytics-links {
    color: var(--text-color);
    font-size: 0.9em;
    margin-bottom: 15px;
    line-height: 1.5em;
}

.content .analytics-period {
    color: var(--text-color);
    font-size: 0.85em;
    margin-bottom: 5px;
}

.content .description {
    margin-top: -10px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 0.8em;
}

.analytics-info {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin-bottom: 25px;
}

.analytics-info-chart svg {
    width: 150px;
    height: 150px;
}

.analytics-info-blocks {
    display: grid;
    grid-auto-flow: column;
}

.analytics-info-block {
    display: grid;
    grid-template-columns: 15px 1fr;
    min-height: 100px;
}

.analytics-info-block-bar {
    height: 100%;
    width: 8px;
    border-radius: 5px;
}

.analytics-info-block-bar div {
    border-radius: 5px;
}

.analytics-info-block-value {
    font-size: 2em;
    font-weight: bold;
}

.analytics-info-block-label {
}

.analytics-info-item {
    margin-bottom: 8px;
}

.analytics-info-item-label {
    font-weight: bold;
}

.analytics-info-item-value {
    font-family: Roboto;
}

.analytics-info-horizontal-bar-block {
    display: grid;
    grid-template-columns: 1fr minmax(40px, max-content);
    grid-gap: 0 5px;
    cursor: pointer;
}

.analytics-info-horizontal-bar-block-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
    margin-top: -8px;
    margin-bottom: 8px;
}

.analytics-info-horizontal-bar-block-open + .analytics-info-horizontal-bar-block-details {
    max-height: 410px;
    transition: max-height .2s ease-out;
}

.analytics-info-horizontal-bar {
    height: 30px;
    position: relative;
    border-radius: 10px;
    display: grid;
    padding-left: 10px;
    align-content: center;
    font-size: 0.9em;
}

.analytics-info-horizontal-bar-main {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.analytics-info-horizontal-bar-label {
    z-index: 1;
    font-weight: bold;
    font-size: 1.1em;
}

.analytics-info-horizontal-bar-value {
    align-content: center;
    font-weight: bold;
    text-align: right;
    font-size: 1.3em;
}

.analytics-positions {
    max-width: 100%;
    overflow: auto;
}

.analytics-positions svg {
    height: 300px;
}

.analytics-player {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 8px;
    align-items: center;
}

.analytics-player-avatar {
    width: 100%;
    border: 2px solid var(--text-color);
    border-radius: 100%;
}

.analytics-player-name {
    padding-left: 10px;
}

.analytics-player-categories {
    font-size: 0.7em;
    margin-top: 5px;
}

.analytics-details[open] {
    margin-bottom: 20px;
}

.analytics-details summary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.analytics-details summary span {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px dashed var(--text-color);
}

.analytics-months-info {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 30px;
    text-align: center;
}

.analytics-months-info svg {
    width: 100%;
    height: 250px;
}

.analytics-months-top-players {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 30px;

    display: inline-grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 27px;
    grid-gap: 0 5px;
    font-size: 10px;
}

.analytics-months-top-players-profiles {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    background: #f1dcdc;
    border-radius: 8px;
    padding: 4px 2px;
}

.analytics-months-top-players-profile {
    position: relative;
    user-select: none;
}

.analytics-months-top-players-profile a, .analytics-months-top-players-profile a:hover {
    border: none;
}

.analytics-months-top-players-profile img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 2px;
}

.analytics-months-top-players-profile-my img {
    padding: 0;
    border: 2px solid var(--main-color);
}

.analytics-months-top-players-profile a:hover img {
    border: 2px solid var(--main-color);
    padding: 0;
}

.analytics-months-top-players-profile-activity {
    display: none;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #ffffffcc;
    pointer-events: none;
}

.analytics-months-top-players-date {
    white-space: nowrap;
    text-align: center;
}

@media (max-width: 1200px) {
    .analytics-info-blocks {
        grid-auto-flow: unset;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 0;
    }
}

@media (max-width: 767px) {
    .analytics-info {
        display: block;
    }

    .analytics-info-chart {
        text-align: center;
        margin-bottom: 10px;
    }

    .analytics-info-horizontal-bar-block {
        grid-template-columns: 1fr minmax(20px, max-content);
    }

    .analytics-months-top-players-profile a:hover + .analytics-months-top-players-profile-activity {
        display: grid;
        align-content: center;
        justify-content: center;
    }
}

