.content {
    
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-bottom: 15px;
}

.content .analytics-links {
    color: var(--text-color);
    font-size: 0.9em;
    margin-bottom: 15px;
    line-height: 1.5em;
}

.content .analytics-period {
    color: var(--text-color);
    font-size: 0.85em;
    margin-bottom: 15px;
}

.analytics-info {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin-bottom: 25px;
}

.analytics-info-chart svg {
    width: 150px;
    height: 150px;
}

.analytics-info-item {
    margin-bottom: 8px;
}

.analytics-info-item-label {
    font-weight: bold;
}

.analytics-info-item-value {
    font-family: Roboto;
}

.analytics-positions {
    max-width: 100%;
    overflow: auto;
}

.analytics-positions svg {
    height: 300px;
}

.analytics-player {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 8px;
    align-items: center;
}

.analytics-player-avatar {
    width: 100%;
    border: 2px solid var(--text-color);
    border-radius: 100%;
}

.analytics-player-name {
    padding-left: 10px;
}

.analytics-player-categories {
    font-size: 0.7em;
    margin-top: 5px;
}

.analytics-details[open] {
    margin-bottom: 20px;
}

.analytics-details summary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.analytics-details summary span {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px dashed var(--text-color);
}

.analytics-circle {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
    margin-right: 2px;
}

.analytics-quizzes {
    overflow-x: auto;
}

.analytics-quizzes-filters {
    margin-bottom: 10px;
}

.analytics-quizzes-filters select {
    margin-bottom: 5px;
    margin-right: 10px;
}

.analytics-quizzes-filters label {
    white-space: nowrap;
}

@media (max-width: 520px) {
    .analytics-quizzes-filters select {
        display: block;
        width: 100%;
    }
}

.analytics-quizzes table {
    width: 100%;
    border-collapse: collapse;
}

.analytics-quizzes td, th {
    font-size: 0.8em;
    padding: 5px;
    border: 1px solid var(--border-color);
    text-align: center;
    vertical-align: middle;
}

.analytics-quizzes th {
    padding: 15px 13px;
    white-space: nowrap;
}

.analytics-quizzes th.order-asc,
.analytics-quizzes th.order-desc {
    padding: 15px 5px;
    color: var(--main-color);
}

.analytics-quizzes th.order-asc:after {
    content: "↑";
    display: inline-block;
    width: 16px;
}

.analytics-quizzes th.order-desc:after {
    content: "↓";
    display: inline-block;
    width: 16px;
}

.analytics-quizzes .quiz-name {
    text-align: left;
    min-width: 280px;
}

.analytics-quizzes .quiz-category,
.analytics-quizzes .quiz-organizer {
    text-align: left;
    white-space: nowrap;
}

.analytics-quizzes .quiz-organizer img {
    width: 25px;
    vertical-align: middle;
}

.analytics-quizzes-no-games {
    color: var(--text-color);
    font-size: 0.9em;
}

.analytics-quizzes-button {
    padding-top: 10px;
    text-align: center;
}

.analytics-months-info {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 30px;
    text-align: center;
}

.analytics-months-info svg {
    width: 100%;
    height: 250px;
}

@media (max-width: 767px) {
    .analytics-info {
        display: block;
    }

    .analytics-info-chart {
        text-align: center;
        margin-bottom: 10px;
    }
}

