.form-row {
    background-color: var(--form-row-background);
    border-radius: 10px;
    color: var(--form-row-text-color);
    display: table;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-row:last-child {
    margin-bottom: 0;
}

.form-row-icon {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 30px;
}

.form-row-fill-icon {
    fill: var(--form-row-icon-color);
}

.form-row-stroke-icon {
    stroke: var(--form-row-icon-color);
}

.error-icon .form-row-fill-icon {
    fill: var(--error-color);
}

.error-icon .form-row-stroke-icon {
    stroke: var(--error-color);
}

.form-row-label {
    display: table-cell;
    font-weight: bold;
    padding-right: 10px;
    vertical-align: middle;
    white-space: nowrap;
    width: 0;
}

.form-row-input {
    display: table-cell;
    vertical-align: middle;
}

.form-row-top .form-row-icon,
.form-row-top .form-row-label,
.form-row-top .form-row-input {
    vertical-align: top;
}

.form-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0 5px;
}

.error-label {
    color: var(--error-color) !important;
}


@media (max-width: 767px) {
    .form-row {
        display: grid;
        grid-template-areas: 
            "icon label"
            "input input";
        grid-template-columns: 30px 1fr;
        align-items: center;
    }

    .form-row-icon {
        grid-area: icon;
    }

    .form-row-label {
        grid-area: label;
        text-align: left;
    }

    .form-row-input {
        grid-area: input;
    }
}
