.gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000dd;
    display: none;
    z-index: 9999;
}

.gallery-body {
    overflow: hidden
}

.gallery-hidden {
    display: none !important;
}

.gallery-invisible {
    opacity: 0;
}

.gallery-transition {
    transition: transform 150ms;
}

.gallery-no-transition {
    transition: none !important;
}

.gallery-open {
    display: unset;
}

.gallery-top-controls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    z-index: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 45px;
    user-select: none;
}

.gallery-top-info {
    color: #eeeeee;
    font-size: 0.9rem;
    font-family: PTSerif;
}

.gallery-top-control {
    cursor: pointer;
    display: inline-block;
    text-align: right;
}

.gallery-stroke-icon {
    stroke: #dddddd;
}

.gallery-stroke-icon:hover {
    stroke: #ffffff;
}

.gallery-fill-icon {
    fill: #dddddd;
}

.gallery-fill-icon:hover {
    fill: #ffffff;
}

.gallery-selected-icon .gallery-fill-icon, .gallery-selected-icon .gallery-fill-icon:hover {
    fill: #a8d0e6;
}

.gallery-prev-control, .gallery-next-control {
    position: absolute;
    top: calc(50% - 15px);
    padding: 5px;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
}

.gallery-prev-control:hover, .gallery-next-control:hover {
    background-color: #00000080;
}

.gallery-prev-control svg, .gallery-next-control svg {
    fill: #dddddd;
}

.gallery-ppev-control:hover svg, .gallery-next-control:hover svg {
    fill: #ffffff;
}

.gallery-prev-control {
    left: 5px;
}

.gallery-next-control {
    right: 5px;
}

.gallery-photos {
    display: grid;
    grid-auto-flow: column;
    user-select: none;
}

.gallery-photo {
    position: relative;
    display: grid;
    grid-auto-rows: calc(100dvh - 55px);
    align-items: center;
    justify-items: center;
    width: 100vw;
    overflow: hidden;
    padding: 45px 10px 10px 10px;
    cursor: pointer;
}

.gallery-photo-image {
    max-width: 100%;
    max-height: 100%;
}

.gallery-photo-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #000000bb;
    color: #cccccc;
    padding: 10px;
    font-size: 0.7em;
    transition: opacity 0.2s ease-in;
    user-select: none;
    pointer-events: none;
}

.gallery-loader {
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    z-index: 1;
}

.gallery-loader svg {
    fill: #ffffff;
}

.gallery-bbox {
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}

.gallery-editing-bbox {
    border-color: #ffffff;
    border-style: dashed;
    background-color: transparent !important;
}

.gallery-error-bbox {
    border-color: #f44336 !important;
}

.gallery-finished-bbox {
    border-style: solid;
    background-color: #ffffff08;
    border-color: #ffffff20;
    color: transparent;
    font-size: 0.8em;
    display: grid;
    grid-template-rows: 30px 1fr;
    align-items: end;
}

.gallery-remove-bbox {
    text-align: left;
}

.gallery-remove-bbox svg {
    cursor: pointer;
    width: 20px;
}

.gallery-finished-bbox:hover {
    color: #ffffff;
    background-color: #ffffff50;
    border-color: #ffffffaa;
}

.gallery-fullname-bbox {
    user-select: none;
    pointer-events: none;
}

.gallery-finished-bbox:hover .gallery-fullname-span {
    background-color: #00000080;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.gallery-users-markup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    max-height: 200px;
    width: 300px;
    max-width: 100%;
    overflow: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
}

.gallery-user-markup {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    cursor: pointer;
}

.gallery-user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.gallery-user-fullname {
    font-size: 0.9em;
    color: #555555;
    padding-left: 10px;
}

.gallery-users-filter {
    margin-bottom: 10px;
}

.gallery-users-no-filter {
    font-size: 0.8em;
    font-family: Roboto;
    color: #aaa;
}

.gallery-input {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #aaa;
    padding: 1px 0;
    background: transparent;
    font-family: Roboto;
    font-size: 0.8em;
    color: #000;
    transition: border-color 150ms ease-in;
}

.gallery-input:hover, .gallery-input:focus {
    outline: none;
    border-bottom-color: #000;
    transition: border-color 150ms ease-in;
}

@media (max-width: 767px) {
    .gallery-photo {
        cursor: default;
    }
}