/*************************** FIRST BLOCK ***************************/
.first-block {
    background: var(--content-background);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 20px 20px 250px 20px;
    margin-bottom: 20px;
    position: relative;
}


.first-block-team {
    font-size: 0.9em;
    margin-bottom: 3px;
}

.first-block-team-name {
    font-weight: normal;
    font-size: 1.9em;
}

.first-block-rating {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.first-block-rating-value {
    font-size: 2em;
    font-weight: bold;
}

.first-block-rating-description {
    font-size: 0.8em;
    margin-bottom: 8px;
}

.first-block-rating-small-description {
    font-size: 0.7em;
}

@media (max-width: 767px) {
    .first-block {
        border-radius: 10px;
        padding: 10px 10px 150px 10px;
    }

    .first-block-rating {
        left: 10px;
        bottom: 10px;
    }
}

/************************* NEAREST QUIZZES *************************/
.nearest-quizzes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 2vw;
}

.nearest-quiz {
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 10px 10px 50px 10px;
    position: relative;
    background: var(--content-light-background);
}

.nearest-quiz-header {
    font-size: 0.75em;
    margin-bottom: 5px;
    color: var(--main-color);
}

.nearest-quiz-name {
    font-size: 1.04em;
}

.nearest-quiz-name img {
    width: 25px;
    height: 25px;
    margin-bottom: -6px;
    margin-right: 4px;
    border-radius: 100%;
}

.nearest-quiz-name div {
    margin-bottom: 8px;
}

.nearest-quiz-date {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 0.85em;
}

@media (max-width: 767px) {
    .nearest-quizzes {
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
    }

    .nearest-quiz-name img {
        width: 20px;
        height: 20px;
        margin-bottom: -3px;
    }
}

/****************************** ABOUT ******************************/
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1vw 2vw;
}

.about-fact {
    border: 1px solid var(--main-color);
    border-radius: 25px;
    padding: 30px 15px;
    background: var(--content-light-background);
}

.about-fake-fact {
    background: none;
    border: none;
}

.about-value {
    font-size: 2.7em;
    font-weight: bold;
}

.about-name {
    font-size: 0.9em;
}

@media (max-width: 980px) {
    .about {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }


    .about-fake-fact {
        display: none;
    }
}

@media (max-width: 767px) {
    .about-fact {
        padding: 20px 10px;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .about {
        grid-template-columns: 1fr;
    }
}

/************************** PHOTO ALBUMS ****************************/
.photo-albums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 5px;
}

.album img {
    width: 100%;
    aspect-ratio: 16 / 11;
    object-fit: cover;
    padding: 2px;
    border-radius: 20px;
}

.album a, .album a:hover {
    border: none;
}

.album:hover img {
    padding: 0;
    border: 2px solid var(--main-color);
}

@media (max-width: 1200px) {
    .photo-albums {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .album:nth-child(n+7) {
        display: none;
    }
}

@media (max-width: 900px) {
    .photo-albums {
        grid-template-columns: 1fr 1fr;
    }
}

/******************************* FAQ *******************************/
.faq {
    background: var(--content-light-background);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    min-height: 70px;
}

.faq-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    fill: var(--text-color);
    transition: all .2s ease-out;
}

.faq-open {
    background: var(--content-background);
}

.faq .faq-title {
    text-transform: uppercase;
    font-size: 1.1em;
    padding-bottom: 5px;
    cursor: pointer;
    max-width: calc(100% - 70px);
}

.faq .faq-number {
    display: inline-block;
    margin-bottom: 5px;
}

.faq-open .faq-icon {
    transform: rotate(-135deg);
    transition: all .2s ease-out;
    fill: var(--main-color);
}

.faq-open .faq-title {
    font-weight: bold;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}

.faq-open .faq-content {
    max-height: 1000px;
    transition: max-height .2s ease-out;
}

.faq p:not(:last-child) {
    margin-bottom: 15px;
}

.faq li {
    margin-bottom: 10px;
}

.faq .term {
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width: 767px) {
    .faq-icon {
        width: 35px;
        height: 35px;
    }

    .faq .faq-title {
        max-width: calc(100% - 55px);
    }
}

/***************************** SCHEDULE ****************************/
#schedule-block {
    scroll-margin-top: 65px;
}

.schedule-list {
    display: none;
}

.schedule-month {
    border-radius: 10px;
    background: var(--content-background);
    padding: 10px 15px;
    margin-bottom: 10px;
    scroll-margin-top: 65px;
    font-size: 1.17em;
}

.schedule-month-table {
    text-align: center;
    display: table;
    margin: 0 auto;
}

.schedule-date {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

.schedule-control-icon {
    fill: var(--interactive-icon-color);
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    width: 25px;
}

.schedule-control-icon:first-child {
    text-align: right;
}

.schedule-control-icon:last-child {
    text-align: left;
}

.schedule-control-icon:hover {
    fill: var(--interactive-icon-hover-color);
}

.schedule-places {
    text-align: center;
    overflow-x: auto;
    margin-bottom: 10px;
}

.schedule-place {
    display: inline;
    padding: 0 10px;
    white-space: nowrap;
}

.schedule-place-color {
    width: 40px;
    height: 20px;
    display: inline-block;
}

.schedule {
    display: grid;
    max-width: 700px;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin: 0 auto;
    background: #fff;
    grid-template-rows: 25px;
    grid-auto-rows: 1fr;
    border-radius: 5px;
    border: 2px solid #fff;
}

.schedule-cell {
    border: 2px solid #fff;
    position: relative;
    aspect-ratio: 1/1;
}

.schedule-weekday {
    text-align: center;
    font-size: 0.8em;
    min-height: 0;
    display: grid;
    align-items: center;
    aspect-ratio: unset;
    color: #333;
    border-radius: 5px;
    background-color: #efefef;
}

.schedule-day {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.7em;
    z-index: 1;
    fill: #333;
}

.schedule-day-current {
    fill: #fff !important;
}

.schedule-edit {
    position: absolute;
    right: 2px;
    top: 2px;
}

.schedule-quizzes {
}

.schedule-quiz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.schedule-quiz-players {
    position: absolute;
    top: 1px;
    right: 75px;
}

.schedule-quiz-album {
    position: absolute;
    top: 1px;
    right: 40px;
}

.schedule-quiz-album:hover svg,
.schedule-quiz-poll:hover svg,
.schedule-quiz-players:hover svg {
    fill: var(--main-color);
}

.schedule-quiz-time {
    font-size: 0.7em;
    fill: #fff;
}

.schedule-quiz-name {
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
    height: 100%;
    color: #fff;
}

.schedule-quiz-name-grid {
    display: grid;
    align-items: center;
}

.schedule-quiz-name-left {
    text-align: left;
    align-items: start;
}

.schedule-quiz-name-right {
    text-align: right;
    align-items: end;
}

.schedule-quiz-name-left:before, .schedule-quiz-name-right:before {
    content: "";
    width: 100%;
    height: 100%;
}

.schedule-quiz-name-left:before {
    float: right;
    shape-outside: polygon(0 0, 0 20%, 80% 20%, 0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 20%, 80% 20%, 0 100%, 100% 100%, 100% 0);
}

.schedule-quiz-name-right:before {
    float: left;
    shape-outside: polygon(100% 100%, 100% 80%, 20% 80%, 100% 0, 0 0, 0 100%);
    clip-path: polygon(100% 100%, 100% 80%, 20% 80%, 100% 0, 0 0, 0 100%);
}

.schedule-quiz-name-span {
    display: block;
}

.schedule-quiz-position {
    border: 0.2em solid #fff;
    border-radius: 5px;
    padding: 1px 3px;
    font-size: 0.7em;
    white-space: nowrap;
}

.schedule-quiz-name-left .schedule-quiz-name-span {
    text-align: left;
}

.schedule-quiz-name-right .schedule-quiz-name-span {
    text-align: right;
}

.schedule-statistic {
    text-align: center;
}

.schedule-statistic-header {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 15px;
}

.schedule-statistic-cells {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.schedule-statistic-cell {
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    background: var(--content-light-background);
}

.schedule-statistic-cell-value {
    font-size: 1.5em;
    font-weight: bold;
}

.schedule-statistic-cell-label {
    font-size: 0.7em;
}

.quiz-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000dd;
    z-index: 5;
    display: grid;
    align-items: center;
    justify-items: center;
}

.quiz-details-content {
    background: #dfdfdf;
    position: relative;
    padding: 20px 10px 10px 10px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
}

.quiz-details-content-close {
    position: absolute;
    right: 5px;
    top: 0;

    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.quiz-details-content-close:before, .quiz-details-content-close:after {
    background: var(--text-color);
    content: "";
    display: block;
    height: 2px;
    top: 12px;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.quiz-details-content-close:before {
    transform: rotate(-45deg);
}

.quiz-details-content-close:after {
    transform: rotate(45deg);
}

.quiz-details-content-close:hover:before, .quiz-details-content-close:hover:after {
    background: var(--main-color);
}

.quiz-details-name {
    margin-top: 10px;
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: bold;
}

.quiz-details-category {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.quiz-details-description {
    font-size: 0.8em;
    margin-bottom: 15px;
    color: #444;
}

.quiz-details-date {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 5px;
}

.quiz-details-day-time {
    font-size: 1.35em;
    margin-bottom: 20px;
}

.quiz-details-cost {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.quiz-details-place {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: top;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
}

.quiz-details-place-addition {
    color: #777;
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 5px;
    line-height: 1.5em;
}

.quiz-details-organizer {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    font-weight: bold;
}

.quiz-details-organizer img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.quiz-details-addition {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

.quiz-details-participants {
    display: inline-grid;
    max-width: 100%;
    grid-gap: 3px;
    grid-auto-flow: column;
    overflow-x: auto;
    padding-left: 30px;
    margin-top: 5px;
}

.quiz-details-participants a, .quiz-details-participants a:hover {
    border: none;
}

.quiz-details-participants img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    padding: 2px;
}

.quiz-details-participants a:hover img {
    padding: 0;
    border: 2px solid var(--main-color);
}

@media (max-width: 767px) {
    .schedule-month {
        padding: 5px;
    }
    .schedule {
        display: grid;
        min-width: unset;
    }

    .schedule-quiz {
        font-size: calc(min(20px, 6.5vw));
    }

    .quiz-details-content {
        width: calc(100vw - 20px);
        margin: 0;
    }

    .schedule-cell {
        border-width: 1px;
    }

    .schedule-statistic-cells {
        margin-top: 5px;
        grid-gap: 7px;
    }

    .schedule-statistic-cell {
        font-size: 0.8em;
    }
}
