.first-screen {
    width: 100%;
    height: calc(100dvh - 65px);
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

.first-screen-popup, .first-screen-background {
    position: absolute;
    top: 65px;
    left: 0;
    height: calc(100dvh - 65px);
    width: 100%;
}

.first-screen-background {
    background-image: url("https://plush-anvil.ru/images/albums/40/ebcd3ba23d541e56af81390f8582d7dd.jpg?v=a25b4ecb8a754dc9516075a0cccf0775");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    transition: all 200ms ease-in;
}

.first-screen-popup {
    z-index: -1;
    background: linear-gradient(#222222f2, #00283cf2, #008fd5f2);
}

.first-screen-rating {
    margin-bottom: 20px;
    color: #ffeb3b;
}

.first-screen-quiz {
    margin-bottom: 20px;
    text-align: center;
}

.first-screen-quiz-header {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.first-screen-quiz-name {
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: bold;
}

.first-screen-quiz-date {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.first-screen-quiz-time {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.content {
    background-color: var(--background-color);
    width: unset;
    border: none;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.schedule-month {
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    scroll-margin-top: 65px;
}

.schedule-date {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

.schedule-control-icon {
    fill: #ddd;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    width: 25px;
}

.schedule-control-icon:first-child {
    text-align: right;
}

.schedule-control-icon:last-child {
    text-align: left;
}

.schedule-control-icon:hover {
    fill: #fff;
}

.schedule-places {
    text-align: center;
    overflow-x: auto;
    margin-bottom: 10px;
}

.schedule-place {
    display: inline;
    padding: 0 10px;
    white-space: nowrap;
}

.schedule-place-color {
    width: 40px;
    height: 20px;
    display: inline-block;
}

.schedule {
    display: grid;
    max-width: 700px;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin: 0 auto;
    background: #fff;
    grid-template-rows: 25px;
    grid-auto-rows: 1fr;
    border-radius: 5px;
    border: 2px solid #fff;
}

.schedule-cell {
    border: 2px solid #fff;
    position: relative;
    aspect-ratio: 1/1;
}

.schedule-weekday {
    text-align: center;
    font-size: 0.8em;
    min-height: 0;
    display: grid;
    align-items: center;
    aspect-ratio: unset;
    color: #333;
    border-radius: 5px;
    background-color: #efefef;
}

.schedule-day {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.7em;
    z-index: 1;
    fill: #333;
}

.schedule-day-current {
    fill: #fff !important;
}

.schedule-edit {
    position: absolute;
    right: 2px;
    top: 2px;
}

.schedule-quizzes {
}

.schedule-quiz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.schedule-quiz-album {
    position: absolute;
    top: 1px;
    right: 40px;
}

.schedule-quiz-album:hover svg {
    fill: #fff;
}

.schedule-quiz-time {
    font-size: 0.7em;
    fill: #fff;
}

.schedule-quiz-name {
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
    height: 100%;
    color: #fff;
}

.schedule-quiz-name-grid {
    display: grid;
    align-items: center;
}

.schedule-quiz-name-left {
    text-align: left;
    align-items: start;
}

.schedule-quiz-name-right {
    text-align: right;
    align-items: end;
}

.schedule-quiz-name-left:before, .schedule-quiz-name-right:before {
    content: "";
    width: 100%;
    height: 100%;
}

.schedule-quiz-name-left:before {
    float: right;
    shape-outside: polygon(0 0, 0 20%, 80% 20%, 0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 20%, 80% 20%, 0 100%, 100% 100%, 100% 0);
}

.schedule-quiz-name-right:before {
    float: left;
    shape-outside: polygon(100% 100%, 100% 80%, 20% 80%, 100% 0, 0 0, 0 100%);
    clip-path: polygon(100% 100%, 100% 80%, 20% 80%, 100% 0, 0 0, 0 100%);
}

.schedule-quiz-name-span {
    display: block;
}

.schedule-quiz-position {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1px 3px;
    font-size: 0.7em;
    white-space: nowrap;
}

.schedule-quiz-name-left .schedule-quiz-name-span {
    text-align: left;
}

.schedule-quiz-name-right .schedule-quiz-name-span {
    text-align: right;
}

.schedule-statistic {
    text-align: center;
}

.schedule-statistic-header {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 15px;
}

.schedule-statistic-row {
    font-size: 0.8em;
    margin-top: 5px;
}

.schedule-statistic b {
    font-size: 1.1em;
}

.quiz-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000dd;
    z-index: 5;
    display: grid;
    align-items: center;
    justify-items: center;
}

.quiz-details-content {
    background: var(--background-color);
    position: relative;
    padding: 20px 10px 10px 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    width: 550px;
    margin: 0 auto;
}

.quiz-details-content-close {
    position: absolute;
    right: 5px;
    top: 12px;

    display: block;
    height: 2px;
    width: 24px;
    cursor: pointer;
}

.quiz-details-content-close:before, .quiz-details-content-close:after {
    background: var(--text-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.quiz-details-content-close:before {
    transform: rotate(-45deg);
    top: 0;
}

.quiz-details-content-close:after {
    transform: rotate(45deg);
    top: 0;
}

.quiz-details-content-close:hover:before, .quiz-details-content-close:hover:after {
    background: #fff;
}

.quiz-details-name {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.quiz-details-cost, .quiz-details-datetime, .quiz-details-place, .quiz-details-organizer, .quiz-details-description {
    margin-bottom: 8px;
}

@media (max-width: 767px) {
    .schedule {
        display: grid;
        min-width: unset;
    }

    .schedule-quiz {
        font-size: calc(min(20px, 6.5vw));
    }

    .quiz-details-content {
        width: calc(100vw - 20px);
        margin: 0;
    }

    .schedule-cell {
        border-width: 1px;
    }
}
