.content {
    background-color: var(--background-color);
    width: unset;
}

.schedule-controls {
    display: table;
    table-layout: fixed;
    margin: 0 auto 20px auto;
}

.schedule-control {
    display: table-cell;
    text-align: center;
    padding: 0 10px;
}

.schedule-control span {
    border-bottom: 1px dashed var(--text-color);
    cursor: pointer;
}

.schedule-control span:hover {
    border-bottom-style: solid;
}

.schedule-month {
    text-align: center;
}

.schedule-places {
    text-align: center;
    overflow-x: auto;
    margin-bottom: 10px;
}

.schedule-place {
    display: inline;
    padding: 0 10px;
    white-space: nowrap;
}

.schedule-place-color {
    width: 40px;
    height: 20px;
    display: inline-block;
    border: 1px solid var(--border-color);
}

.schedule {
    display: grid;
    max-width: 700px;
    background: #fff4d7;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin: 0 auto;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    grid-template-rows: 25px;
    grid-auto-rows: 1fr;
}

.schedule-cell {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    aspect-ratio: 1/1;
}

.schedule-weekday {
    text-align: center;
    font-size: 0.9em;
    min-height: 0;
    display: grid;
    align-items: center;
    aspect-ratio: unset;
}

.schedule-day {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.7em;
    z-index: 1;
}

.schedule-day-link {
    text-decoration: underline;
}

.schedule-edit {
    position: absolute;
    right: 2px;
    top: 2px;
}

.schedule-quizzes {
}

.schedule-quiz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.schedule-quiz-album {
    position: absolute;
    top: 1px;
    right: 40px;
}

.schedule-quiz-album:hover svg {
    fill: #fff;
}

.schedule-quiz-time {
    font-size: 0.7em;
}

.schedule-quiz-name {
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    display: grid;
    align-items: center;
    height: 100%;
}

.schedule-quiz-name-left {
    text-align: left;
    align-items: start;
}

.schedule-quiz-name-right {
    text-align: right;
    align-items: end;
}

.quiz-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000dd;
    z-index: 5;
    display: grid;
    align-items: center;
    justify-items: center;
}

.quiz-details-content {
    background: var(--background-color);
    position: relative;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    width: 550px;
    margin: 0 auto;
}

.quiz-details-content-close {
    position: absolute;
    right: 5px;
    top: 12px;

    display: block;
    height: 2px;
    width: 24px;
    cursor: pointer;
}

.quiz-details-content-close:before, .quiz-details-content-close:after {
    background: var(--text-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.quiz-details-content-close:before {
    transform: rotate(-45deg);
    top: 0;
}

.quiz-details-content-close:after {
    transform: rotate(45deg);
    top: 0;
}

.quiz-details-content-close:hover:before, .quiz-details-content-close:hover:after {
    background: #fff;
}

.quiz-details-name {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.quiz-details-cost, .quiz-details-datetime, .quiz-details-place, .quiz-details-organizer, .quiz-details-description {
    margin-bottom: 8px;
}

@media (max-width: 767px) {
    .schedule {
        display: grid;
        min-width: unset;
    }

    .schedule-quiz {
        font-size: calc(min(23px, 6.5vw));
    }

    .quiz-details-content {
        width: calc(100vw - 20px);
        margin: 0;
    }
}
