.header {
    background-color: var(--menu-background);
    position: sticky;
    top: 0;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--menu-border-color);
    z-index: 3;
    user-select: none;
}

.header ul {
    list-style: none
}

.logo {
    display: inline-block;
    margin-left: 10px;
}

.logo svg {
    fill: var(--menu-icon-color);
}

.nav {
    background-color: var(--menu-background);
    width: 100%;
    height: calc(100dvh - 65px);
    top: 65px;
    position: fixed;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a {
    color: var(--menu-item-text-color);
    display: block;
    padding: 20px 10px;
    text-decoration: none;
}

.menu a:hover {
    color: var(--menu-item-text-hover-color);
    background-color: var(--menu-item-background-hover-color);
}

.menu .menu-profile a {
    text-align: left;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.menu .menu-profile-text {
    padding: 20px 0 20px 10px;
}

.menu-profile img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid var(--menu-item-text-color);
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 30px 20px;
}

.hamb-line {
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    background: var(--menu-icon-color);
}

.hamb-line:before, .hamb-line:after {
    background: var(--menu-icon-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line:before {
    top: 5px;
}

.hamb-line:after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav {
    max-height: calc(100dvh - 65px);
    overflow-y: auto;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.subnav-content {
    background-color: var(--submenu-background);
    border-left: 1px solid var(--submenu-border-color);
    border-right: 1px solid var(--submenu-border-color);
    border-bottom: 1px solid var(--submenu-border-color);
    width: 100%;
    z-index: 3;
    display: none;
}

.subnavbtn {
    padding: 20px 10px;
    color: var(--menu-item-text-color);
}

.subnavbtn label {
    display: block;
}

.subnav-checkbox {
    display: none;
}

.subnav-content a {
    color: var(--submenu-item-text-color);
    text-decoration: none;
    padding: 20px 10px;
    text-align: left;
}

.subnav:hover .subnav-content a:hover {
    color: var(--submenu-item-text-hover-color);
    background-color: var(--submenu-item-background-hover-color);
}

.menu .subnav-content-icon-item {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
}

.menu .subnav-content-icon-item svg {
    fill: var(--submenu-item-text-color);
}

.menu .subnav-content-icon-item:hover svg {
    fill: var(--submenu-item-text-hover-color);
}

@media (max-width: 767px) {
    .subnav-content {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-out;
        border: none;
        background: var(--submenu-mobile-background);
    }

    .subnav-checkbox:checked ~ .subnavbtn {
        background: var(--submenu-mobile-background);
        font-weight: bold;
    }

    .subnav-checkbox:checked ~ .subnav-content {
        display: block;
        max-height: 260px;
        border-bottom: 1px solid var(--submenu-border-color);
    }
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        height: 100%;
        background-color: transparent;
        overflow: unset;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        float: left;
        white-space: nowrap;
        text-align: center;
    }

    .menu a {
        padding: 20px 30px;
    }

    .menu .menu-profile {
        min-width: 0;
    }

    .menu .menu-profile-text {
        display: none;
    }

    .menu .login {
        min-width: 0;
    }

    .menu .menu-profile a {
        height: 64px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .mena a:hover {
        background-color: transparent;
    }

    .hamb {
        display: none;
    }

    .subnav {
        position: relative;
    }

    .subnavbtn {
        padding: 20px 2.3vw;
    }

    .subnav:hover .subnav-content {
       display: block;
    }

    .subnav-content {
        padding: 0;
        position: absolute;
        left: 0;
        width: fit-content;
    }

    .subnav-content a {
        padding: 20px 10px;
    }
}
