h2 {
    text-align: center;
}

.organizers {
    margin-top: 10px;
}

.organizer {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.organizer .name {
    margin-bottom: 8px;
}

.organizer .address {
    font-size: 0.8em;
}

.organizer-top {
    display: table;
    width: 100%;
}

.organizer-info {
    display: table-cell;
}

.organizer-info img {
    max-width: 25px;
}

.organizer-icon {
    display: table-cell;
    width: 30px;
    vertical-align: top;
    text-align: center;
}

.organizer-icon .interactive-fill-icon {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .organizer-top {
        display: grid;
        grid-template-areas: 
            "icons"
            "info";
        align-items: center;
    }

    .organizer-top {
        grid-area: info;
    }

    .organizer-icon {
        grid-area: icons;
        text-align: right;
        width: 100%;
    }

    .organizer-icon .interactive-fill-icon {
        margin-bottom: 0;
    }
}