.add-participant-info {
    margin-bottom: 20px;
}

.add-participant-info summary {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.add-participant-info summary span {
    border-bottom: 1px dashed var(--text-color);
}

.add-participant-form {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 5px;
}

.participant {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.participant-avatar {
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--text-color);
}

.participant-name {
    padding: 5px;
}

.participant-name span {
    border-bottom: 1px dashed var(--text-color);
}

.participant-name span:hover {
    border-bottom-style: solid;
}

details[open] {
    margin-bottom: 20px;
}

.participant-games {
    display: inline-grid;
    grid-auto-flow: column;
    overflow-x: auto;
    padding-bottom: 5px;
}

.participant-game {
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 15px;
    width: 25px;
}

.participant-game-cell {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background: var(--main-color);
}

.participant-game-fill-cell {
    background: none;
    border-color: var(--text-color);
}

.participant-game-other-cell {
    background: #ff9800;
    border-color: #ffc107;
}

.participant-game-date {
    font-size: 0.5em;
    writing-mode: vertical-lr;
    text-align: left;
    justify-self: center;
}