.content {
    position: relative;
}

h1 {
    width: calc(100% - 35px);
}

.add-album {
    position: absolute;
    right: 5px;
    top: 5px;
}

.new-album-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #00000080;
    z-index: 5;
}

.new-album {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    height: 66dvh;
}

.new-album-form {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.new-album-title {
    font-size: 0.8em;
    color: var(--info-color);
    text-align: center;
    margin-bottom: 10px;
}

.new-album-buttons {
    text-align: right;
}

.photo-albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0 5px;
    grid-auto-rows: 1fr;
}

.photo-album-main {
    height: 100%;
    min-height: 160px;
    position: relative;
}

.photo-album-preview img {
    width: 100%;
    height: auto;
}

.photo-album a, .photo-album a:hover {
    border: none;
}

.photo-album-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    opacity: 0;
    border-radius: 5px;
    background-color: #00000080;
    transition: opacity 100ms ease-in;
}

.photo-album-remove svg {
    fill: #eeeeee;
}

.photo-album-remove:hover svg {
    fill: #ffffff;
}

.photo-album-main:hover .photo-album-remove {
    opacity: 1;
    transition: opacity 100ms ease-in;
}

.photo-album-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    display: table;
    width: 100%;
    background-color: #00000050;
    color: #ffffff;
    padding: 5px;
    font-size: 0.8em;
    transition: background-color 100ms ease-in;
}

.photo-album .error {
    margin-top: 0;
    font-size: 0.8em;
}

.photo-album:hover .photo-album-caption {
    background-color: #000000aa;
    transition: background-color 100ms ease-in;
}

.photo-album-title {
    display: table-cell;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.photo-album-count {
    display: table-cell;
    vertical-align: middle;
    width: 0;
    padding-left: 5px;
    text-align: right;
}

.photo-albums-filter {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.photo-albums-filter-input {
    display: table-cell;
}

.photo-albums-filter-clear {
    display: table-cell;
    width: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.photo-albums-filter-clear-icon {
    display: block;
    position: relative;
    width: 1em;
    height: 2px;
    transition: all .2s ease-out;
}

.photo-albums-filter-clear-icon:before, .photo-albums-filter-clear-icon:after {
    background: #eee;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.photo-albums-filter-clear:hover .photo-albums-filter-clear-icon:before, .photo-albums-filter-clear:hover  .photo-albums-filter-clear-icon:after {
    background: #fff;
}

.photo-albums-filter-clear-icon:before {
    transform: rotate(-45deg);
}

.photo-albums-filter-clear-icon:after {
    transform: rotate(45deg);
}

@media (max-width: 1500px) {
    .photo-albums {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .photo-albums {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .photo-albums {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 300px) {
    .photo-albums {
        grid-template-columns: 1fr;
    }
}
