.quizzes {
    margin-top: 10px;
}

.quiz {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.quiz-data {
    display: table;
    width: 100%;
}

.quiz-fields {
    display: table-cell;
    vertical-align: top;
}

.quiz-icons {
    display: table-cell;
    vertical-align: top;
    width: 30px;
    text-align: right;
}

.quiz-icons .interactive-fill-icon {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.basic-textarea {
    resize: none;
}

@media (max-width: 767px) {
    .quiz-data {
        display: grid;
        grid-template-areas: 
            "icons"
            "fields";
        align-items: center;
    }

    .quiz-fields {
        grid-area: fields;
    }

    .quiz-icons {
        grid-area: icons;
        text-align: right;
        width: 100%;
    }

    .quiz-icons .interactive-fill-icon {
       margin-bottom: 0;
    }
}