:root {
    /* basic */
    --background-color: #ffffff;
    --text-color: #212121;
    --text-font: Inter;
    --border-color: #d9d9d9;
    --main-color: #c238a2;
    --link-color: var(--main-color);

    --content-background: #eeeeee;
    --content-light-background: #f7f7f7;
    --content-dark-background: #d1d1d1;

    /* status */
    --error-color: #f44336;
    --success-color: #4caf50;
    --disabled-color: #d0d0d0;

    /* icons  */
    --interactive-icon-color: #333333;
    --interactive-icon-hover-color: var(--main-color);

    /* menu  */
    --menu-background: #eeeeee;
    --menu-icon-color: #212121;
    --menu-border-color: var(--main-color);

    --menu-item-text-color: #212121;
    --menu-item-text-hover-color: #414141;
    --menu-item-background-hover-color: #e0e0e0;

    --submenu-background: #eeeeee;
    --submenu-mobile-background: #e8e8e8;
    --submenu-border-color: var(--main-color);
    --submenu-item-text-color: #212121;
    --submenu-item-text-hover-color: #212121;
    --submenu-item-background-hover-color: #d9d9d9;

    /* form */
    --form-row-background: #eeeeee;
    --form-row-text-color: var(--text-color);
    --form-row-icon-color: var(--text-color);

    /* input elements */
    --placeholder-color: #999999;

    /* input */
    --input-font-family: Roboto;
    --input-disabled-color: var(--disabled-color);
    --input-text-color: var(--text-color);
    --input-border-color: var(--border-color);
    --input-hover-border-color: var(--main-color);
    --input-focus-border-color: var(--main-color);

    /* textarea */
    --textarea-font-family: Roboto;
    --textarea-border-color: #aaaaaa;
    --textarea-text-color: var(--text-color);
    --textarea-hover-border-color: var(--main-color);

    /* button */
    --button-font-family: Inter;

    --button-background-color: #ffffff;
    --button-border-color: #c238a2;
    --button-text-color: #c238a2;

    --button-disabled-background-color: var(--disabled-color);
    --button-disabled-border-color: var(--disabled-color);
    --button-disabled-text-color: #888888;

    --button-hover-background-color: #d82e6b;
    --button-hover-border-color: #ffffff;
    --button-hover-text-color: #ffffff;

    --button-active-background-color: #e2284e;
    --button-active-border-color: #ffffff;
    --button-active-text-color: #ffffff;

    /* switch button */
    --switch-button-font-family: Inter;

    --switch-button-background-color: transparent;
    --switch-button-border-color: var(--border-color);
    --switch-button-text-color: #000000;

    --switch-button-selected-background-color: var(--main-color);
    --switch-button-selected-border-color: var(--border-color);
    --switch-button-selected-text-color: #ffffff;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: var(--text-font);
    color: var(--text-color);
}

h1, h2 {
    margin-bottom: 15px;
}

h2 {
    margin-top: 40px;
}

.content {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px 30px;
    min-height: calc(100dvh - 156px);
    max-width: 1775px;
    margin: 10px 75px 0 75px;
}

.content a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color);
}

.content a:hover {
    border-bottom-style: solid;
}

.content ul {
    margin-left: 1em;
}

.page {
    margin-left: 75px;
    margin-top: 10px;
    padding: 7px 0 10px 0;
    position: relative;
}

.page:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 150px;
    background: var(--main-color);
}

.error:not(:empty) {
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--error-color);
    text-align: center;
}

.success:not(:empty) {
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--success-color);
    text-align: center;
}

.hidden {
    display: none !important;
}

.scrollable {
    overflow-x: auto;
}

.no-overflow {
    overflow: hidden;
}

.margin-bottom {
    margin-bottom: 10px;
}

.interactive-fill-icon, .interactive-stroke-icon {
    display: inline-block;
    cursor: pointer;
}

.interactive-fill-icon a, .interactive-fill-icon a:hover,
.interactive-stroke-icon a, .interactive-stroke-icon a:hover {
    border: none;
}

.interactive-fill-icon svg {
    fill: var(--interactive-icon-color);
}

.interactive-fill-icon:hover svg {
    fill: var(--interactive-icon-hover-color);
}

.interactive-stroke-icon svg {
    stroke: var(--interactive-icon-color);
}

.interactive-stroke-icon:hover svg {
    stroke: var(--interactive-icon-hover-color);
}

.nw {
    white-space: nowrap;
}

@media (max-width: 767px) {
    html {
        font-size: 16px;
    }

    .content {
        margin: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding: 10px;
    }

    .page {
        margin-left: 10px;
    }

    .page:before {
        height: 1px;
    }
}
