{% set title = "Аналитика | Плюшевая наковальня" %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="/styles/year_grid.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/filter_table.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/analytics.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}

    <h1 class="page">Аналитика</h1>

    <div class="content">
        {% if start_date and end_date %}
        <p class="analytics-period">Показана информация за период с {{"%02d.%02d.%d" % (start_date.day, start_date.month, start_date.year)}} по {{"%02d.%02d.%d" % (end_date.day, end_date.month, end_date.year)}}</p>
        {% elif start_date %}
        <p class="analytics-period">Показана информация с {{"%02d.%02d.%d" % (start_date.day, start_date.month, start_date.year)}}</p>
        {% elif end_date %}
        <p class="analytics-period">Показана информация по {{"%02d.%02d.%d" % (end_date.day, end_date.month, end_date.year)}}</p>
        {% else %}
        <p class="analytics-period">Показана информация за всё время</p>
        {% endif %}

        <p class="analytics-links"><b>Показать за</b>
            <a href="/analytics">всё время</a>,
            <a href="/analytics?start_date={{dates['last-year'][0]}}&end_date={{dates['last-year'][1]}}">прошлый год</a>,
            <a href="/analytics?start_date={{dates['year'][0]}}&end_date={{dates['year'][1]}}">текущий год</a>,
            <a href="/analytics?start_date={{dates['month'][0]}}&end_date={{dates['month'][1]}}">текущий месяц</a>
        </p>

        <div id="year-grid"></div>

        {% if data.total.games > 0 %}
        <div class="analytics-info">
            <div class="analytics-info-chart">
                <svg id="analytics-info-chart"></svg>
            </div>
            <div class="analytics-info-blocks">
                {% if data.total.wins > 0 %}
                <div class="analytics-info-block">
                    <div class="analytics-info-block-bar" style="background: {{colors.wins}}40">
                        <div style="height: {{data.total.wins / data.total.games * 100}}%; background: {{colors.wins}}"></div>
                    </div>
                    <div>
                        <div class="analytics-info-block-value">{{(data.total.wins / data.total.games * 100) | round(1)}}%</div>
                        <div class="analytics-info-block-label"><b>Победы</b>: {{data.total.wins}}</div>
                    </div>
                </div>
                {% endif %}

                {% if data.total.prizes > 0 %}
                <div class="analytics-info-block">
                    <div class="analytics-info-block-bar" style="background: {{colors.prizes}}40">
                        <div style="height: {{data.total.prizes / data.total.games * 100}}%; background: {{colors.prizes}}"></div>
                    </div>
                    <div>
                        <div class="analytics-info-block-value">{{(data.total.prizes / data.total.games * 100) | round(1)}}%</div>
                        <div class="analytics-info-block-label"><b>2-3 места</b>: {{data.total.prizes}}</div>
                    </div>
                </div>
                {% endif %}

                {% if data.total.top10 > 0 %}
                <div class="analytics-info-block">
                    <div class="analytics-info-block-bar" style="background: {{colors.top10}}40">
                        <div style="height: {{data.total.top10 / data.total.games * 100}}%; background: {{colors.top10}}"></div>
                    </div>
                    <div>
                        <div class="analytics-info-block-value">{{(data.total.top10 / data.total.games * 100) | round(1)}}%</div>
                        <div class="analytics-info-block-label"><b>4-10 места</b>: {{data.total.top10}}</div>
                    </div>
                </div>
                {% endif %}

                <div class="analytics-info-block">
                    <div class="analytics-info-block-bar" style="background: #333">
                    </div>
                    <div>
                        <div class="analytics-info-block-value">{{data.total.games}}</div>
                        <div class="analytics-info-block-label"><b>Всего игр</b></div>
                    </div>
                </div>
            </div>
        </div>

        <h3>Виды игр</h3>
        <div class="analytics-info">
            <div class="analytics-info-chart">
                <svg id="analytics-categories-chart"></svg>
            </div>
            <div class="analytics-info-items">
                {% for category_info in data.total.categories %}
                {% if category_info.value > 0 %}
                <div class="analytics-info-item">
                    <span class="circle" style="background: {{category2color[category_info.name]}}"></span>
                    <span class="analytics-info-item-label">{{category_info.name}}:</span>
                    <span class="analytics-info-item-value">{{category_info.value}} ({{(category_info.value / data.total.games * 100) | round(1)}}%<!--
                        -->{% if data.total.categories_wins[category_info.name] > 0 %}, <b>побед</b>: {{data.total.categories_wins[category_info.name]}}{% endif %}<!--
                        -->{% if data.total.categories_prizes[category_info.name] > 0 %}, <b>в призах</b>: {{data.total.categories_prizes[category_info.name]}}{% endif %}<!--
                    -->)</span>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <h2>Распределение мест</h2>
        <div class="analytics-info-item">
            <span class="analytics-info-item-label">Средняя позиция:</span>
            <span class="analytics-info-item-value">{{"%.1f" % data.total.mean_position}}</span>
        </div>

        <div class="analytics-positions">
            <svg id="analytics-positions-chart"></svg>
        </div>

        <h2>Распределение мест по категориям</h2>
        {% for category_info in data.total.categories %}
        {% if data.total.category_positions[category_info.name].values()|sum > 0 %}
        <details class="analytics-details">
            <summary><b class="circle" style="background: {{category2color[category_info.name]}}"></b> <span>{{category_info.name}}</span> <small>(средняя позиция: {{"%.1f" % data.total.category_positions[category_info.name].mean}})</small></summary>

            <div class="analytics-positions">
                <svg id="analytics-category-{{loop.index}}-positions-chart"></svg>
            </div>
        </details>
        {% endif %}
        {% endfor %}

        <h2>Топ активных игроков</h2>
        <p class="description">Топ считается с учётом активности игроков. Алгоритм сортировки игроков по активности учитывает не только общее количество игр, в которых участвовал каждый игрок, но и их давность. Чем больше времени прошло с момента последней игры, тем меньше её вес. Таким образом, игроки, которые ходили на квизы недавно, будут иметь больший показатель активности, чем те, кто ходил давно.</p>

        {% for player in data.top_players[:7] %}
        <div class="analytics-player">
            <img class="analytics-player-avatar" src="{{player.image_src}}">
            <div class="analytics-player-name">
                <a href="/profile?username={{player.username}}">{{player.fullname}}</a> - {{player.count_text}} ({{player.score|round(1)}})
                <div class="analytics-player-categories">
                    <b>Топ категорий</b>:
                {% for category, count in player.categories[:3] %}{% if loop.index > 1 %}, {% endif %}{{category}} ({{count}}){% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if data.top_players|length > 7 %}
        <details class="analytics-details">
            <summary><span>Показать остальных</span></summary>
            {% for player in data.top_players[7:] %}
            <div class="analytics-player">
                <img class="analytics-player-avatar" src="{{player.image_src}}">
                <div class="analytics-player-name">
                    <a href="/profile?username={{player.username}}">{{player.fullname}}</a> - {{player.count_text}} ({{player.score|round(1)}})
                    <div class="analytics-player-categories">
                        <b>Топ категорий</b>:
                    {% for category, count in player.categories[:3] %}{% if loop.index > 1 %}, {% endif %}{{category}} ({{count}}){% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </details>
        {% endif %}

        {% if data.games|length > 0 %}
        <h2>Игры</h2>

        {% set games_categories, games_organizers, games_places, games = data.categories, data.organizers, data.places, data.games %}
        {% include "components/games_table.html" %}
        {% endif %}

        {% else %}
        <p>Игр за указанный промежуток времени не было</p>
        {% endif %}

        {% if data.months_data|length > 1 %}
        <h2>Аналитика по месяцам</h2>
        <h3>Игры</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-games-chart"></svg>
        </div>

        <h3>Победы</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-wins-chart"></svg>
        </div>

        <h3>2-3 места</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-prizes-chart"></svg>
        </div>

        <h3>Вхождение в тройку</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-top3-chart"></svg>
        </div>

        <h3>Средняя позиция</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-mean_position-chart"></svg>
        </div>

        <h3>Среднее число игроков</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-mean_players-chart"></svg>
        </div>

        {% if data.months_data[-1].date.year >= 2024 %}
        <h3>Смузи рейтинг</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-rating-chart"></svg>
        </div>
        {% endif %}
        {% endif %}
    </div>

    {% include "footer.html" %}

    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/utils/chart.js?v={{version}}"></script>
    <script src="/js/utils/bar_chart.js?v={{version}}"></script>
    <script src="/js/utils/plot_chart.js?v={{version}}"></script>
    <script src="/js/utils/year_grid.js?v={{version}}"></script>
    <script src="/js/utils/filter_table.js?v={{version}}"></script>
    <script src="/js/analytics.js?v={{version}}"></script>
    <script>
        const colors = {
            {% for name, color in colors.items() %}"{{name}}": "{{color}}",{% endfor %}
        }

        const chart_data = [
            {value: {{data.total.wins}}, color: "{{colors.wins}}" },
            {value: {{data.total.prizes}}, color: "{{colors.prizes}}" },
            {value: {{data.total.top10}}, color: "{{colors.top10}}" },
            {value: {{data.total.games - data.total.wins - data.total.prizes - data.total.top10}}, color: "{{colors.other}}" },
        ]

        const positions_data = {{data.total.positions}}
        const categories_data = [
            {% for category_info in data.total.categories %}
            {value: {{category_info.value}}, color: "{{category2color[category_info.name]}}"},
            {% endfor %}
        ]

        const categories_positions_data = [
            {% for category_info in data.total.categories %}
            {{data.total.category_positions[category_info.name]}},
            {% endfor %}
        ]

        const months_data = [
            {% for info in data.months_data %}{
                games: {{info.games}},
                wins: {{info.wins}},
                prizes: {{info.prizes}},
                top3: {{info.top3}},
                mean_position: {{"%.1f" % info.mean_position}},
                mean_players: {{"%.1f" % info.mean_players}},
                rating: {{info.rating}},
                other: {{info.games - info.wins - info.prizes - info.top10}},
                date: "{{month2rus[info.date.month]}}\n{{info.date.year}}"
            },
            {% endfor %}
        ]

        {% if data.total.games > 0 %}
        PlotAnalyticsChart()
        PlotCategoriesChart()
        PlotPositionsChart("analytics-positions-chart", positions_data)

        let events = [{% for game in data.games %}"{{game.date.year}}-{{game.date.month}}-{{game.date.day}}",{% endfor %}]

        let grid = new YearGrid("year-grid", events, ["#ebedf0", "hsl(340, 87%, 90%)", "hsl(340, 87%, 76%)", "hsl(340, 87%, 63%)", "hsl(340, 87%, 50%)"])
        let table = new FilterTable("games")

        {% for category_info in data.total.categories %}
        {% if data.total.category_positions[category_info.name].values()|sum > 0 %}
        PlotPositionsChart("analytics-category-{{loop.index}}-positions-chart", categories_positions_data[{{loop.index0}}])
        {% endif %}
        {% endfor %}

        {% endif %}

        {% if data.months_data|length > 1 %}
        PlotMonthData()
        {% endif %}
    </script>
</body>
</html>
