{% set title = "Аналитика | Плюшевая наковальня" %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="/styles/year_grid.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/filter_table.css?v={{version}}">
<link rel="stylesheet" type="text/css" href="/styles/analytics.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}

    <h1 class="page">Аналитика</h1>

    <div class="content">
        {% if start_date and end_date %}
        <p class="analytics-period">Показана информация за период с {{"%02d.%02d.%d" % (start_date.day, start_date.month, start_date.year)}} по {{"%02d.%02d.%d" % (end_date.day, end_date.month, end_date.year)}}</p>
        {% elif start_date %}
        <p class="analytics-period">Показана информация с {{"%02d.%02d.%d" % (start_date.day, start_date.month, start_date.year)}}</p>
        {% elif end_date %}
        <p class="analytics-period">Показана информация по {{"%02d.%02d.%d" % (end_date.day, end_date.month, end_date.year)}}</p>
        {% else %}
        <p class="analytics-period">Показана информация за всё время</p>
        {% endif %}

        <p class="analytics-links"><b>Показать за</b>
            <a href="/analytics">всё время</a>,
            <a href="/analytics?start_date={{dates['last-year'][0]}}&end_date={{dates['last-year'][1]}}">прошлый год</a>,
            <a href="/analytics?start_date={{dates['year'][0]}}&end_date={{dates['year'][1]}}">текущий год</a>,
            <a href="/analytics?start_date={{dates['month'][0]}}&end_date={{dates['month'][1]}}">текущий месяц</a>
        </p>

        <div id="year-grid"></div>

        {% if data.total.games > 0 %}
        <div class="analytics-info">
            <div class="analytics-info-chart">
                <svg id="analytics-info-chart"></svg>
            </div>
            <div class="analytics-info-items">
                {% if data.total.wins > 0 %}
                <div class="analytics-info-item">
                    <span class="circle" style="background: {{colors.wins}}"></span>
                    <span class="analytics-info-item-label">Победы:</span>
                    <span class="analytics-info-item-value">{{data.total.wins}} ({{(data.total.wins / data.total.games * 100) | round(1)}}%)</span>
                </div>
                {% endif %}

                {% if data.total.prizes > 0 %}
                <div class="analytics-info-item">
                    <span class="circle" style="background: {{colors.prizes}}"></span>
                    <span class="analytics-info-item-label">Призовые места:</span>
                    <span class="analytics-info-item-value">{{data.total.prizes}} ({{(data.total.prizes / data.total.games * 100) | round(1)}}%)</span>
                </div>
                {% endif %}

                {% if data.total.top10 > 0 %}
                <div class="analytics-info-item">
                    <span class="circle" style="background: {{colors.top10}}"></span>
                    <span class="analytics-info-item-label">Вхождение в топ-10:</span>
                    <span class="analytics-info-item-value">{{data.total.top10}} ({{(data.total.top10 / data.total.games * 100) | round(1)}}%)</span>
                </div>
                {% endif %}

                {% if data.total.last > 0 %}
                <div class="analytics-info-item">
                    <span class="analytics-info-item-label">Последние места:</span>
                    <span class="analytics-info-item-value">{{data.total.last}}</span>
                </div>
                {% endif %}

                <div class="analytics-info-item">
                    <span class="analytics-info-item-label">Всего игр:</span>
                    <span class="analytics-info-item-value">{{data.total.games}}</span>
                </div>

                {% if data.total.rating > 0 %}
                <div class="analytics-info-item">
                    <span class="analytics-info-item-label">Рейтинг смузи:</span>
                    <span class="analytics-info-item-value">{{data.total.rating}}</span>
                </div>
                {% endif %}
            </div>
        </div>

        <h3>Виды игр</h3>
        <div class="analytics-info">
            <div class="analytics-info-chart">
                <svg id="analytics-categories-chart"></svg>
            </div>
            <div class="analytics-info-items">
                {% for category_info in data.total.categories %}
                {% if category_info.value > 0 %}
                <div class="analytics-info-item">
                    <span class="circle" style="background: {{category2color[category_info.name]}}"></span>
                    <span class="analytics-info-item-label">{{category_info.name}}:</span>
                    <span class="analytics-info-item-value">{{category_info.value}} ({{(category_info.value / data.total.games * 100) | round(1)}}%<!--
                        -->{% if data.total.categories_wins[category_info.name] > 0 %}, <b>побед</b>: {{data.total.categories_wins[category_info.name]}}{% endif %}<!--
                        -->{% if data.total.categories_prizes[category_info.name] > 0 %}, <b>в призах</b>: {{data.total.categories_prizes[category_info.name]}}{% endif %}<!--
                    -->)</span>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <h2>Распределение мест</h2>
        <div class="analytics-info-item">
            <span class="analytics-info-item-label">Средняя позиция:</span>
            <span class="analytics-info-item-value">{{"%.1f" % data.total.mean_position}}</span>
        </div>

        <div class="analytics-positions">
            <svg id="analytics-positions-chart"></svg>
        </div>

        <h2>Распределение мест по категориям</h2>
        {% for category_info in data.total.categories %}
        {% if data.total.category_positions[category_info.name].values()|sum > 0 %}
        <details class="analytics-details">
            <summary><b class="circle" style="background: {{category2color[category_info.name]}}"></b> <span>{{category_info.name}}</span> <small>(средняя позиция: {{"%.1f" % data.total.category_positions[category_info.name].mean}})</small></summary>

            <div class="analytics-positions">
                <svg id="analytics-category-{{loop.index}}-positions-chart"></svg>
            </div>
        </details>
        {% endif %}
        {% endfor %}

        <h2>Топ активных игроков</h2>
        {% for player in data.total.top_players[:7] %}
        <div class="analytics-player">
            <img class="analytics-player-avatar" src="{{player.image_src}}">
            <div class="analytics-player-name">
                <a href="/profile?username={{player.username}}">{{player.fullname}}</a> - {{player.count_text}}
                <div class="analytics-player-categories">
                    <b>Топ категорий</b>:
                {% for category, count in player.categories[:3] %}{% if loop.index > 1 %}, {% endif %}{{category}} ({{count}}){% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if data.total.top_players|length > 7 %}
        <details class="analytics-details">
            <summary><span>Показать остальных</span></summary>
            {% for player in data.total.top_players[7:] %}
            <div class="analytics-player">
                <img class="analytics-player-avatar" src="{{player.image_src}}">
                <div class="analytics-player-name">
                    <a href="/profile?username={{player.username}}">{{player.fullname}}</a> - {{player.count_text}}
                    <div class="analytics-player-categories">
                        <b>Топ категорий</b>:
                    {% for category, count in player.categories[:3] %}{% if loop.index > 1 %}, {% endif %}{{category}} ({{count}}){% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </details>
        {% endif %}

        {% if data.games|length > 0 %}
        <h2>Игры</h2>

        <div class="filter-table-filters">
            <select class="basic-select default-select" onchange="table.FilterRows('position', this.value, NUMBER_FILTER_TYPE)">
                <option value="all">все места</option>
                <option value="1-1">победы</option>
                <option value="2-3">2-3 места</option>
                <option value="4-">ниже тройки</option>
                <option value="11-">ниже десятки</option>
            </select>

            <select class="basic-select default-select" onchange="table.FilterRows('category', this.value, TEXT_FILTER_TYPE)">
                <option value="all">все категории</option>
                {% for _, category in data.categories %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>

            <select class="basic-select default-select" onchange="table.FilterRows('organizer', this.value, TEXT_FILTER_TYPE)">
                <option value="all">все организаторы</option>

                {% for _, organizer in data.organizers %}
                <option value="{{organizer}}">{{organizer}}</option>
                {% endfor %}
            </select>

            <select class="basic-select default-select" onchange="table.FilterRows('place', this.value, TEXT_FILTER_TYPE)">
                <option value="all">все места проведения</option>

                {% for _, place in data.places %}
                <option value="{{place}}">{{place}}</option>
                {% endfor %}
            </select>

            <label><input type="checkbox" onchange="table.UpdateAdditionalColumns(this.checked)"> Подробно</label>
        </div>

        <div class="scrollable">
            <table class="filter-table">
            <tbody id="games">
                <tr>
                    <th class="column-date order-desc" onclick="table.SortByColumn('date')">Дата</th>
                    <th class="column-position" onclick="table.SortByColumn('position')">Место</th>
                    <th class="column-category column-addition" onclick="table.SortByColumn('category')">Категория</th>
                    <th class="column-name" onclick="table.SortByColumn('name', false)">Название</th>
                    <th class="column-organizer column-addition" onclick="table.SortByColumn('organizer', false)">Организатор</th>
                    <th class="column-players column-addition" onclick="table.SortByColumn('players')">Игроки</th>
                    <th class="column-teams column-addition" onclick="table.SortByColumn('teams')">Команды</th>
                    <th class="column-place column-addition" onclick="table.SortByColumn('place', false)">Место проведения</th>
                </tr>

                {% for quiz in data.games %}
                <tr class="hidden" data-index="{{loop.index}}">
                    <td class="column-date">{{"%02d.%02d.%d" % (quiz.date.day, quiz.date.month, quiz.date.year)}}</td>
                    <td class="column-position">{{quiz.position}}</td>
                    <td class="column-category column-addition column-no-wrap"><b class="circle" style="background: {{category2color[quiz.category]}}"></b> <span>{{quiz.category}}</span></td>
                    <td class="column-name column-left">{{quiz.name}}</td>
                    <td class="column-organizer column-addition column-left column-no-wrap"><img src="/images/organizers/{{quiz.organizer}}.png" title="{{quiz.organizer}}"> {{quiz.organizer}}</td>
                    <td class="column-players column-addition">{{quiz.players}}</td>
                    <td class="column-teams column-addition">{{quiz.teams}}</td>
                    <td class="column-place column-addition">{{quiz.place}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

        <div class="filter-table-no-rows hidden" id="games-no-rows">Нет подходящих игр, соответствующих условиям выбранных фильтров</div>
        <div class="filter-table-buttons">
            <button class="basic-button default-button fit-button hidden" id="games-show">Показать ещё</button>
            <button class="basic-button default-button fit-button hidden" id="games-collapse">Свернуть</button>
        </div>
        {% endif %}

        {% else %}
        <p>Игр за указанный промежуток времени не было</p>
        {% endif %}

        {% if data.months_data|length > 1 %}
        <h2>Аналитика по месяцам</h2>
        <h3>Игры</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-games-chart"></svg>
        </div>

        <h3>Победы</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-wins-chart"></svg>
        </div>

        <h3>Призовые места</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-prizes-chart"></svg>
        </div>

        <h3>Вхождение в топ-10</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-top10-chart"></svg>
        </div>

        <h3>Последние места</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-last-chart"></svg>
        </div>

        <h3>Средняя позиция</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-mean_position-chart"></svg>
        </div>

        <h3>Среднее число игроков</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-mean_players-chart"></svg>
        </div>

        {% if data.months_data[-1].date.year >= 2024 %}
        <h3>Смузи рейтинг</h3>
        <div class="analytics-months-info">
            <svg id="analytics-months-info-rating-chart"></svg>
        </div>
        {% endif %}
        {% endif %}
    </div>

    {% include "footer.html" %}

    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/utils/chart.js?v={{version}}"></script>
    <script src="/js/utils/bar_chart.js?v={{version}}"></script>
    <script src="/js/utils/year_grid.js?v={{version}}"></script>
    <script src="/js/utils/filter_table.js?v={{version}}"></script>
    <script src="/js/analytics.js?v={{version}}"></script>
    <script>
        const colors = {
            {% for name, color in colors.items() %}"{{name}}": "{{color}}",{% endfor %}
        }

        const chart_data = [
            {value: {{data.total.wins}}, color: "{{colors.wins}}" },
            {value: {{data.total.prizes}}, color: "{{colors.prizes}}" },
            {value: {{data.total.top10}}, color: "{{colors.top10}}" },
            {value: {{data.total.games - data.total.wins - data.total.prizes - data.total.top10}}, color: "{{colors.other}}" },
        ]

        const positions_data = {{data.total.positions}}
        const categories_data = [
            {% for category_info in data.total.categories %}
            {value: {{category_info.value}}, color: "{{category2color[category_info.name]}}"},
            {% endfor %}
        ]

        const categories_positions_data = [
            {% for category_info in data.total.categories %}
            {{data.total.category_positions[category_info.name]}},
            {% endfor %}
        ]

        const months_data = [
            {% for info in data.months_data %}{
                games: {{info.games}},
                wins: {{info.wins}},
                prizes: {{info.prizes}},
                top10: {{info.top10}},
                last: {{info.last}},
                mean_position: {{"%.1f" % info.mean_position}},
                mean_players: {{"%.1f" % info.mean_players}},
                rating: {{info.rating}},
                other: {{info.games - info.wins - info.prizes - info.top10}},
                date: "{{month2rus[info.date.month]}}\n{{info.date.year}}"
            },
            {% endfor %}
        ]

        {% if data.total.games > 0 %}
        PlotAnalyticsChart()
        PlotCategoriesChart()
        PlotPositionsChart("analytics-positions-chart", positions_data)

        let events = [{% for game in data.games %}"{{game.date.year}}-{{game.date.month}}-{{game.date.day}}",{% endfor %}]

        let grid = new YearGrid("year-grid", events, ["#ebedf0", "hsl(210, 87%, 90%)", "hsl(210, 87%, 76%)", "hsl(210, 87%, 63%)", "hsl(210, 87%, 50%)"])
        let table = new FilterTable("games")

        {% for category_info in data.total.categories %}
        {% if data.total.category_positions[category_info.name].values()|sum > 0 %}
        PlotPositionsChart("analytics-category-{{loop.index}}-positions-chart", categories_positions_data[{{loop.index0}}])
        {% endif %}
        {% endfor %}

        {% endif %}

        {% if data.months_data|length > 1 %}
        PlotMonthData()
        {% endif %}
    </script>
</body>
</html>
