{% set title = "Плюшевая наковальня" %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="/styles/index.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}

    <div class="first-screen">
        <h1>КОМАНДА ПЛЮШЕВАЯ НАКОВАЛЬНЯ</h1>

        <div class="first-screen-quiz">
            <div class="first-screen-quiz-header">БЛИЖАЙШИЙ КВИЗ</div>
            <div class="first-screen-quiz-name">{{next_quiz1.name}}</div>
            <div class="first-screen-quiz-date">{{"%02d" % next_quiz1.date.day}}.{{"%02d" % next_quiz1.date.month}}.{{next_quiz1.date.year}}</div>
            <div class="first-screen-quiz-time">{{next_quiz1.time}}</div>
        </div>

        <div class="first-screen-quiz">
            <div class="first-screen-quiz-header">СЛЕДУЮЩИЙ КВИЗ</div>
            <div class="first-screen-quiz-name">{{next_quiz2.name}}</div>
            <div class="first-screen-quiz-date">{{"%02d" % next_quiz2.date.day}}.{{"%02d" % next_quiz2.date.month}}.{{next_quiz2.date.year}}</div>
            <div class="first-screen-quiz-time">{{next_quiz2.time}}</div>
        </div>
    </div>
    <div class="first-screen-background"></div>
    <div class="first-screen-popup"></div>

    <div class="content">
        <h2>Расписание</h2>
        <h3 class="schedule-month">
            <svg class="schedule-control-icon" width="25px" height="25px" viewBox="100 0 1024 1024" xmlns="http://www.w3.org/2000/svg" id="schedule-prev-date" onclick="SwitchSchedule(this, {{'true' if user.role == 'owner' else 'false'}})">
                <path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" />
            </svg>

            <span class="schedule-date" id="schedule-month"></span>

            <svg class="schedule-control-icon" width="25px" height="25px" viewBox="-100 0 1024 1024" xmlns="http://www.w3.org/2000/svg" id="schedule-next-date" onclick="SwitchSchedule(this, {{'true' if user.role == 'owner' else 'false'}})">
                <path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z" />
            </svg>
        </h3>

        <div class="error" id="schedule-error"></div>

        <div class="schedule-places" id="schedule-places"></div>
        <div class="scrollable" id="scrollable">
            <div class="schedule" id="schedule">
                <div class="schedule-cell schedule-weekday">Пн</div>
                <div class="schedule-cell schedule-weekday">Вт</div>
                <div class="schedule-cell schedule-weekday">Ср</div>
                <div class="schedule-cell schedule-weekday">Чт</div>
                <div class="schedule-cell schedule-weekday">Пт</div>
                <div class="schedule-cell schedule-weekday">Сб</div>
                <div class="schedule-cell schedule-weekday">Вс</div>
            </div>
        </div>

        <div style="height: 400px"></div>
    </div>

    <script src="/js/fetch.js?v={{version}}"></script>
    <script src="/js/utils.js?v={{version}}"></script>
    <script src="/js/index.js?v={{version}}"></script>
    <script>
        BuildSchedule({{schedule|tojson()}}, {{places|tojson()}}, {{'true' if user.role == 'owner' else 'false'}})
    </script>
    {% include "footer.html" %}
</body>
</html>
