{% include "header.html" %}
    <title>Плюшевая наковальня</title>
</head>
<body>
    {% include "components/menu.html" %}

    <h1>Здрасьте!</h1>

    <div class="schedule">
        <div class="schedule-row">
            <div class="schedule-day"></div>
        </div>
    </div>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit itaque natus impedit totam inventore, autem, nemo sint quo illo, aut quibusdam minus quasi? Placeat quisquam perspiciatis deleniti, suscipit nemo distinctio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum animi voluptatum, nulla laboriosam consequatur sapiente blanditiis minus, corporis molestiae, culpa amet ad, eius expedita iure officia? Alias autem, iure iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eos, quae. Adipisci aspernatur deleniti harum impedit! Molestiae ipsam, dolores fugit? In, repudiandae praesentium natus harum architecto deserunt labore optio nobis. 

    Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Quas, id! Debitis, facere, dicta. Voluptatibus pariatur ea delectus dicta optio sint cupiditate iure, ducimus hic vel. Veritatis odit minima ea? Tempore. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iure enim, autem consectetur ullam voluptate soluta eaque pariatur corporis nihil repellendus ducimus, odio perferendis, cupiditate, omnis qui labore et corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, facere deserunt eligendi corrupti fugit ipsum! Ad voluptas rem, iusto consectetur, blanditiis laborum corporis molestiae, maiores quos dolore itaque quae fugit.
</body>
</html>
